img {
    width: 99.8%;
    height: 200px;
    margin-top: -160px;
    margin-right: -10px;
}

.textlk {
    margin-top: -17px;
    margin-left: -15px;
}

.buttonfunction {
    margin-top: 20px;
}

.col{
    margin-top: 25px;
}

