/*ハンバーガーメニュー*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.gnav {
    height: 2rem;
    margin: 0 auto;
    width: 1000px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown {
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 700px;
}

.bg-light {
    background-color: #555555!important;
}

.navbar-light .navbar-brand {
    color: white;
}
/*ハンバーガーメニュー*/

.postrange {
    margin-top: 150px;
    margin-left: 540px;
}

input#id_title {
    width: 300px;
    height: 30px;
    margin-left: 40px;
}

input#id_picture {
    width: 340px;
    margin-left: 10px;
}

input {
    width: 100px;
    height: 30px;
    margin-left: 81px;
}

form {
    width: 500px;
}

input#id_text {
    width: 300px;
    height: 100px;
    margin-left: 42px;
}