/*ハンバーガーメニュー*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.gnav {
    height: 2rem;
    margin: 0 auto;
    width: 1000px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown {
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 700px;
}

.bg-light {
    background-color: #555555!important;
}

.navbar-light .navbar-brand {
    color: white;
}
/*ハンバーガーメニュー*/

.postrange {
    margin-top: 150px;
    margin-left: 560px;
}

.contents {
    position: absolute;
    margin-top: 50px;
    width: 169px;
}

#id_text {
    margin-top: 30px;
    width: 300px;
    height: 100px;
}

#id_title {
    position: relative;
    width: 300px;
}

a.navbar-brand {
    margin-left: 0px;
}