.box {
  background-color: #CCFFFF;
  width: 3000px;
  height: 840px;
}

h3 {
    position: absolute;
    top: 150px;
    margin-left: 693px;
    color: #FFFF00;
}

img {
    margin-left: 300px;
    float: left;
}

form {
    position: absolute;
    top: 220px;
    margin-left: 673px;
    width: 140px;
    color: #00FF00;
}

a {
    color: black;
}