.box {
  background-color: #CCFFFF;
  width: 3000px;
  height: 840px;
}

.box1 {
    width: 340px;
    height: 792px;
    margin-bottom: 200px;
    margin-left: 1200px;
    background-color: #CCFFFF;
}

.text-image {
    position: relative;
    width: 900px;
}

h3 {
    position: absolute;
    top: 150px;
    margin-left: 693px;
    color: #FFFF00;
}

form {
    position: absolute;
    top: 220px;
    margin-left: 693px;
    color: #00FF00;
}

img {
    margin-left: 300px;
    float: left;
}
